*,
*::after,
*::before {
    box-sizing: border-box;
}



body {
    background: #262626;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #262626;
    width: 50%;
    max-width: 80%;

    font-size: 1.3rem;
    text-decoration: none;
    padding: 1%
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-size: 3rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 25px 10px;
    color: white;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.botao {
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border: 4px solid;
    border-radius: 25px 10px;
    color: white;
    font-size: 1.1rem;
    text-align: center;
}


.close-button {
    border-color: #00b1cc;
}

#impressos {
    border-color: #70bacc;
    float: left;

}

#enviar {
    border-color: #006fab;
    float: left;
}

#restartar {
    border-color: #015380;
    float: right;
}

#fecha {
    border-color: #00b1cc;
    float: left;
}

.close-button:hover {
    background-color: #00b1cc;
    color: #262626;
}

#impressos:hover {
    background-color: #70bacc;
    color: #262626;
}

#enviar:hover {
    background-color: #006fab;
    color: #262626;
}

#restartar:hover {
    background-color: #015380;
    color: #262626;
}

#fecha:hover {
    background-color: #00b1cc;
    color: #262626;
}



/* the entire html comment box container. applies to everything */
#HCB_comment_box {
    color: #888;

}


/* the submit button */
#HCB_comment_box input.submit {
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border: 4px solid;
    border-radius: 25px 10px;
    font-size: 1.1rem;
    text-align: center;
    border-color: #006fab;
    background: #262626;
    color: #006fab;
    text-decoration: none;
    text-shadow: none;
}

#HCB_comment_box input.submit:hover {
    background-color: #006fab;
    color: #262626;
}

#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email,
#HCB_comment_box #hcb_form_name,
#HCB_comment_box #hcb_form_website {
    background-color: lightblue;
    border-radius: 10px 25px;
    padding: 1%;
    border: 0px;
}

#HCB_comment_box blockquote {
    color: white;
}

b.author-name {
    color: #006fab;
}

.a,
a:link,
a:visited {
    text-decoration: none;
}

h3 {
    color: #006fab;
}
